body { background: #46efa2; margin: 0; font-family: sans-serif; }
.secure-terminal { padding: 33px; display: flex; }
.block-shipping-0 { color: #bedec1; font-size: 13px; margin-bottom: 5px; }
.block-session-1 { color: #31d99c; font-size: 13px; margin-bottom: 5px; }
.block-filter-2 { color: #ba1368; font-size: 17px; margin-bottom: 5px; }
.block-auth-3 { color: #9defc5; font-size: 20px; margin-bottom: 5px; }
.block-helper-4 { color: #d8e252; font-size: 19px; margin-bottom: 5px; }